<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Trade Demo</h1>
    
      <p>Current USD Price for ETH </p>
      
      <form action="/run" method="POST">
            <label> Submit Market Order: ETH to TUSD</label>
            <br>
           <input type="text" id="eth" name="ethAmount" value="" placeholder="Amount of ETH" /><br><br>
           <input type="submit" value="submit"/><br><br>          


      </form>

    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <br><br><br>

      <h3><u>ETH to USD Pricing</u></h3>
      <p>Trade ETH to TUSD?</p>
      <p>1 ETH-to-USD: <%= ethUsd %></p>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
